@import "tailwindcss";

/* styles */

:root {
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#app {
    @apply min-h-screen container w-full mx-auto bg-white py-12 px-6;
}

main {
    @apply py-8 px-4 max-w-4xl mx-auto bg-gray-50 rounded-lg;
    box-shadow: var(--shadow-md);
}

/* sections styles */

#header-section {
    @apply mb-8 text-center text-2xl font-bold text-gray-800;
}

#input-section {
    @apply flex flex-col items-center mb-6 p-4 bg-black/5 rounded-lg w-auto;
    box-shadow: var(--shadow-sm);

    & form {
        @apply flex flex-row gap-4 w-full;
        align-items: start;
    }

    & input[type="text"] {
        @apply h-full w-4/5 p-2 mb-4 border border-slate-300 rounded-md focus:outline-blue-500 invalid:outline-red-500 transition duration-300;
    }

    & textarea {
        @apply w-full h-32 p-2 mb-4 border border-slate-300 rounded-md focus:outline-blue-500 invalid:outline-red-500 transition duration-300;
    }

    & button[type="submit"] {
        @apply w-1/5 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-300;
    }
}

#input-header {
    @apply p-0 m-0 gap-0 space-x-0 space-y-0;
}

/* tabs */

.tab-button {
    @apply px-4 py-2 rounded-b-none rounded-t-md font-medium text-gray-700 bg-gray-200 hover:bg-gray-300;
   
    &[data-selected="true"] {
        @apply bg-blue-500 text-white;
    }
}

[data-tab] {
    @apply p-4 w-full;
    /* Slight inset top shadow */
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
}

/* coming soon msg */
#input-explain {
    position: relative;
    user-select: none;
    
    /* Message */
    &::after {
        content: "Coming soon!";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        color: white;
    }

    /* Overlay */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 5;
    }
}

/* todos */
#todos-section {
    @apply mt-8;
}

.todo {
    @apply p-4 mb-4 bg-white rounded-lg flex flex-row items-center w-full justify-between;
    box-shadow: var(--shadow-sm);
    user-select: none;

    & input[type="checkbox"] {
        @apply mr-4;
    }

    & .actions {
        @apply float-right space-x-2;
    }
}

.todo.completed {
    @apply bg-green-400/50 text-gray-500;

    & span {
        @apply line-through;
    }
}

/* focus mode */
body[data-focus="true"] .todo:not([data-focused="true"]) {
    @apply opacity-35;
}